// Header

header {
	text-align: center;	

	@include bp(tablet) {
	     text-align: left;
	     margin-left: 3%;
	}
}


header img {
	max-width: 150px;
	margin: 1rem;

	@include bp(tablet) {
		max-width: 200px;
	}

	@include bp(desktop) {
		max-width: 250px;
    }
}