@import"reset";
@import"fonts";
@import"variable";
@import"mixin";


html {	
	margin: 0 auto;
	font-family: $font-stack;
    font-size: $font-base;
	color: $insta-grey;
	min-width: 320px;
	max-width: 1200px;
}

body {
    // background-color: green;
    // @include small-screen {
    //     background-color: red;
    // }

    // @include large-screen {
    //     background-color: blue;
    // }
    @include bp(tablet) {
        // background-color: green;
    }

    @include bp(desktop) {
        // background-color: blue;
    }
}

header {
	text-align: center;	

	@include bp(tablet) {
	     text-align: left;
	     margin-left: 3%;

    }
}


header img {
	width: 50%;
	padding: 3%;
}


.search	{
	background-image: url('../images/pattern.png');
	text-align: center;
	// display: flex;
}


.instagrid-icon img {
	width: 20%;
	text-align: center;
	padding: 5% 0;
}


.search-box {
	padding: 5% 0;
	// display: flex;
}


.content {
	/*height: 700px;*/
    text-align: center;
	// width: 97%;
	border: 3px solid $border-grey;
	margin: 1% 5%;
	// display: flex;
}

.content-in {
	// background-color: brown;
	// flex-direction: column;


}

.hashtag-search {
	padding-bottom: 10%;


	input {
		height: 30px;
		width: 250px;
	}
}

.hashtag-list {
	// align-content: flex-start;
	align-items: center;
	// flex-wrap: wrap;
	display: flex;
	// flex: 1 1 33%;
	flex-direction: column;
	// margin: 50%;
	// background-color: brown;
	// width: 90%;
	padding: 5%;

	@include bp(tablet) {
        // flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
        // flex: 1;
        // width: 600px;
    }

}


.hashtag-image {
	padding-top: 5%;	
}


.wrapper {
	// border: solid 1px red;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content:space-between;
	// flex-wrap: wrap;
	// align-content: flex-start;
	// display: inline-flex;

	@include bp(tablet) {
        // width: 33%;
        flex:calc(33.33% - 20px);
        margin: 10px;
        // flex: 1;
        // border: solid 1px red;
    }

     @include bp(desktop) {
     	flex:calc(25% - 20px);
        margin: 10px;
    }
}


.profile {
	display: flex;
	justify-content: space-between;
	border-left: solid  1px $border-grey;
	border-right: solid  1px $border-grey;
	border-bottom: solid  1px $border-grey;
	padding: 5%;
}


.wrapper1 {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
}


.wrapper1 img {
	max-width: 100%
}


.wrapper2 {
	// display: flex;

	// justify-content:space-between;
}


.hashtag-image img {
	max-width: 100%;	
}


h1 {
	font-size: 2rem;
	font-weight: bold;

	@include bp(tablet) {
     font-size: 1rem;
    }
}


.comments {
	text-align: right;
	padding: 5% 0;
}


.load button {
	background-color: #e24420;
	color: white;
	border: 2px solid $border-grey;
	text-transform: uppercase;
	height: 25px; 
	width: 150px;
}


.load {
	text-align: center;
	padding:  5% 0;
}	


footer {
	text-align: center;
	padding: 5% 0;
	border-top: solid 1px $border-grey;
	margin: 0 5%;
}
