@import"reset";
@import"fonts";
@import"variable";
@import"mixin";


img {
  height: auto;
  max-width: 100%; }

html {	
	margin: 0 auto;
	font-family: $font-stack;
    font-size: $font-base;
	color: $insta-grey;
	min-width: 320px;
	max-width: 1200px;
}


// Header

header {
	text-align: center;	

	@include bp(tablet) {
	     text-align: left;
	     margin-left: 3%;
	}
}


header img {
	width: 45%;
	padding: 1rem;
}


// Search Area

.search	{
	background-image: url('../images/pattern.png');
	text-align: center;
	padding: 3rem 0;
}


.instagrid-icon img {
	max-width: 150px;
	text-align: center;
	padding: 5% 0;
}


#hashtag-search form {
	padding: 5% 0;
}


// Search Results

.content {
	text-align: center;
	border: 3px solid $border-grey;
	margin: 20% 5%;
}


.hashtag-search {
	padding-bottom: 10%;
	padding-top: 3rem;

	input {
		height: 2.5rem;
		width: 20rem;
		margin: 0 0 0 -40px;
	}

	button {
		height: 2.5rem;
		width: 2.5rem;
		font-size: 1.5rem;
		color: $search-grey;
		background-color: white;
		border: none;
		margin: -3rem;
		text-align: center;
		cursor: pointer;
		i:hover {
			color: $red-theme;
		}
	}
}


.hashtag-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5%;

	@include bp(tablet) {
    	flex-direction: row;
        flex-wrap: wrap;
    }
}


.hashtag-image {
	padding-top: 5%;	
	img {
	border: solid  1px $search-grey;
	}
}	


.wrapper {
	
	@include bp(tablet) {
    	flex:calc(33.33% - 20px);
        margin: 10px;
  	}

    @include bp(desktop) {
     	flex:calc(25% - 20px);
        margin: 10px;
    }
}


.profile {
	display: flex;
	justify-content: space-between;
	border-bottom: solid  1px $search-grey;
	border-right: solid  1px $search-grey;
	border-left: solid  1px $search-grey;
	padding: 5%;
}


.wrapper1 {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
}


.wrapper2 {
	p {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: .333rem;
	line-height: 1.5;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

		@include bp(tablet) {
	     font-size: 1rem;
	    }
	}
}


.wrapper1 img {
	max-width: 100%
}


.hashtag-image img {
	max-width: 100%;	
}


.comments {
	text-align: right;
	padding: 5% 0;
	font-weight: bold;
}


// Load

// .load button {
// 	background-color: #e24420;
// 	color: white;
// 	border: 2px solid $border-grey;
// 	text-transform: uppercase;
// 	height: 25px; 
// 	width: 150px;
// }


// .load {
// 	text-align: center;
// 	padding:  5% 0;
// }	


footer {
	text-align: center;
	padding: 5% 0;
	border-top: solid 1px $border-grey;
	margin: 0 5%;

	p {
		color: $border-grey;
		font-weight: normal;
	}
}
