@import"reset";
@import"fonts";
@import"variable";
@import"mixin";

* {
  box-sizing: border-box; 
}


img {
  height: auto;
  max-width: 100%; 
}


html {	
	margin: 0 auto;
	font-family: $font-stack;
    font-size: $font-base;
	color: $insta-grey;
	min-width: 320px;
	max-width: 1200px;
}


// Header

header {
	text-align: center;	

	@include bp(tablet) {
	     text-align: left;
	     margin-left: 3%;
	}
}


header img {
	max-width: 150px;
	margin: 1rem;

	@include bp(tablet) {
		max-width: 200px;
	}

	@include bp(desktop) {
		max-width: 250px;
    }
}


// Search Area

.search	{
	background-image: url('../images/pattern.png');
	text-align: center;
	padding: 3rem 0;
}


.instagrid-icon img {
	max-width: 150px;
	text-align: center;
	padding: 5% 0;
}


.hashtag-search {
	padding-bottom: 2rem;
	padding-top: 2rem;

	input {
		height: 2.5rem;
		width: 18rem;
		margin: 0 0 0 -40px;
		padding-left: 1.5rem;
		font-size: 1.2rem;
	}

	button {
		height: 2rem;
		width: 2rem;
		font-size: 1.5rem;
		color: $search-grey;
		background-color: white;
		border: none;
		margin: -3rem;
		text-align: center;
		cursor: pointer;

		i:hover {
			color: $red-theme;
		}
	}
}


// Search Results

.content {
	text-align: center;
	border: 3px solid $border-grey;
	margin: 5% 2.5%;
}


.hashtag-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5%;

	@include bp(tablet) {
    	flex-direction: row;
        flex-wrap: wrap;
        padding: 1%;
    }
}


.hashtag-image {
	padding-top: 5%;	

	img {
		border: solid  1px $search-grey;
	}
}	


.wrapper {
	@include bp(tablet) {
    	flex:calc(33.33% - 20px);
        margin: 10px;
  	}

    @include bp(desktop) {
     	flex:calc(25% - 20px);
        margin: 10px;
    }
}


.profile {
	display: flex;
	justify-content: space-between;
	border-bottom: solid  1px $search-grey;
	border-right: solid  1px $search-grey;
	border-left: solid  1px $search-grey;
	padding: 5%;
}


.picture-wrapper {
	width: 33%;
	text-align: left;
	overflow: hidden;
	background-size: cover;

	img {
		height: 50px;
		max-width: 50px;
		border-radius: 50%;
	}
}


.desc-wrapper {
	width: 67%;
	text-align: right;

	p:first-child {
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.5;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;

		@include bp(tablet) {
	     	font-size: 1.4rem;
	    }

	    @include bp(tablet) {
	     	font-size: 1.5rem;
	    }
	}
}


.wrapper1 img {
	max-width: 100%
}


.hashtag-image img {
	max-width: 100%;	
}


.comments {
	text-align: right;
	font-size: 1rem;
	font-weight: bold;

	@include bp(tablet) {
	     	font-size: 1.2rem;
	}

    @include bp(tablet) {
     	font-size: 1.3rem;
    }

	i {
		padding-left: .5rem;
	}
}


footer {
	text-align: center;
	padding: 5% 0;
	border-top: solid 1px $border-grey;
	margin: 0 5%;

	p {
		color: $border-grey;
		font-weight: normal;
	}
}
